*{
    box-sizing: border-box;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
.container{
    padding: 20px;
    background-color:lightgray;
    border: 3px solid black;
    border-radius: 5px;
}
p{
    font-size:35px;
}
.fname,
.mail,
select,
.msg{
    font-size: 28px;
    width: 100%;
    border: 1px solid lightgrey;
    padding: 8px;
    border-radius: 5px;
}
.btn{
    font-size: 25px;
    margin-left: 650px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
    background-color:lightsteelblue;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
header::first-line{
    font-size: 80px;
    font-weight: 600;
}
header{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.btn:hover{
    font-size: 100%;
}
input[type=radio]{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.choose{
    text-align:center;
}

p.cent{
    text-align: center;
    font-size: 50px;
}

input#ex1{
    margin-left: 70px;
}
input#go1{
    margin-left: 120px;
}
input#cbb1{
    margin-left: 155px;
}
input#ng1{
    margin-left: 190px;
}
input#w1{
    margin-left: 110px;
}




input#ex2{
    margin-left: 142px;
}
input#go2{
    margin-left: 120px;
}
input#cbb2{
    margin-left: 155px;
}
input#ng2{
    margin-left: 190px;
}
input#w2{
    margin-left: 110px;
}


input#ex3{
    margin-left: 28px;
}
input#go3{
    margin-left: 120px;
}
input#cbb3{
    margin-left: 155px;
}
input#ng3{
    margin-left: 190px;
}
input#w3{
    margin-left: 110px;
}


input#ex4{
    margin-left: 111px;
}
input#go4{
    margin-left: 120px;
}
input#cbb4{
    margin-left: 155px;
}
input#ng4{
    margin-left: 190px;
}
input#w4{
    margin-left: 110px;
}


input#ex5{
    margin-left: 113px;
}
input#go5{
    margin-left: 120px;
}
input#cbb5{
    margin-left: 155px;
}
input#ng5{
    margin-left: 190px;
}
input#w5{
    margin-left: 110px;
}

input#ex6{
    margin-left: 112px;
}
input#go6{
    margin-left: 120px;
}
input#cbb6{
    margin-left: 155px;
}
input#ng6{
    margin-left: 190px;
}
input#w6{
    margin-left: 110px;
}


input#ex7{
    margin-left: 196px;
}
input#go7{
    margin-left: 120px;
}
input#cbb7{
    margin-left: 155px;
}
input#ng7{
    margin-left: 190px;
}
input#w7{
    margin-left: 110px;
}

p.final{
    text-align: center;
    font-size: 50px;
}

input#yes{margin-left: 30px;}
input#no{margin-left: 37px;}
