*{
    background-color:#202124;
    color: whitesmoke;
}

.g { color: #4285F4; }
.o1 { color: #0F9D58; }
.o2 { color: #F4B400; }
.g2 { color: #4285F4; }
.l { color: #DB4437; }
.e { color: #0F9D58; }

.g,
.o1,
.o2,
.g2,
.l,
.e{
    font-size: 90px;
}

.g{
    position: absolute;
    top: 18%;
    left: 40.7%;
}

.o1{
    position: absolute;
    top: 18%;
    left: 45%;
}

.o2{
    position: absolute;
    top: 18%;
    left: 48.6%;
}

.g2{
    position: absolute;
    top: 18%;
    left: 52%;
}

.l{
    position: absolute;
    top: 18%;
    left: 55.5%;
}

.e{
    position: absolute;
    top: 18%;
    left: 57%;
}

div.search{
    font-weight: 550;
    font-family:Arial, Helvetica, sans-serif;
    width: 450px;
    height: 100px;
    padding: 10px;
    border: 2px ;
    cursor:default;
}

div.search-bar{
    position: absolute;
    top: 35%;
    left: 30.9%;
    border: 1px solid gray;
    border-radius: 30px;
    width: 580px;
    height: 47px;
}

input#search-bar{
    font-family: arial,sans-serif;
}


textarea{
    width:300px;
    padding: 5px;
    position: absolute;
    top: 16%;
    overflow-y: hidden;
    overflow-x:auto;
    resize: none;
    border: 0px;
    font-size: 20px;
    outline: none;
}

img.search-icon{
    position: relative;
    left: 1%;
    width: 25px;
    margin: 10px;
    margin-left: 15px;
    margin-top: 12px;
    margin-bottom: 13px;
}

img.mic{
    width: 35px;
    position: absolute;
    top: 15%;
    left: 91%;
}

nav.nav-bar{
    position: absolute;
    top: 2%;
    right: 8%;
}
nav a{
    text-decoration: none;
    padding: 10px;
}
nav a:hover{
    text-decoration: underline;
}

img.apps{
    position: absolute;
    top: 0.6%;
    right: 5%;
}

img.user{
    position: absolute;
    top:2.3%;
    width: 40px;
    right: 2%;
    
}

div.search-button{
    position: absolute;
    top: 46%;
    left: 40.7%;

}

button.search-button{
    padding: 12px 16px;
    font-size: 15px;
    background-color:#303134 ;
    border: 1px ;
    border-radius: 4px;
}

button.search-button:hover{
    border:1px solid #5f6368;
    cursor: pointer;
}

div.feeling{
    position: absolute;
    top: 46%;
    left: 49.8%; 
}

button.feeling-lucky{
    padding: 12px 16px;
    font-size: 15px;
    background-color:#303134 ;
    border: 1px ;
    border-radius: 4px;
}
button.feeling-lucky:hover{
    border:1px solid #5f6368;
    cursor: pointer;
}

.english,
.bangla,
.hindi,
.offer{
    margin: 5px;
    cursor: pointer;
}

a.english,
a.bangla,
a.hindi{
    color: #4285F4;
    text-decoration: none;
}

a.about,
a.add,
a.buss,
a.how,
a.priv,
a.terms{
    text-decoration: none;
}

a.about:hover,
a.add:hover,
a.buss:hover,
a.how:hover,
a.priv:hover,
a.terms:hover{
    text-decoration: underline;
}

div.offered{
    position: absolute;
    top: 54%;
    left: 36%;
}

span.offer{
    font-size: 15px;
    cursor: default;
}

footer{
    position: absolute;
    bottom: 0%;
    left: 0%;
    font-size: 15px;
}

div.india{
    border-bottom: 0.3px solid gray ;
    padding: 20px;
    background-color:rgb(28, 26, 26);
}

div.rest{
    padding: 20px;
    background-color:rgb(28, 26, 26);
}

.add,
.buss,
.how{
    margin-left: 20px;
    background-color: #202124;
}

.priv,
.terms,
.set{
    margin-right: 10px;
}

.priv{
    margin-left: 490px;
}

.rest a {
    text-decoration: none;
}
.rest a:hover{
    text-decoration: underline;
}

footer{
    width: 100%;
}